<header>
  <nav class="navigation">
    <div class="container">
      <p class="title">Training Center</p>
      <ul class="navigation-links">
        <li>
          <a>Home</a>
        </li>
        <li>
          <a>My trainigs</a>
        </li>
        <li>
          <a routerLink="/create">Create training</a>
        </li>
        <li>
          <a>For you</a>
        </li>
        <li>
          <a>Search</a>
        </li>
        <li>
          <a routerLink="/login">Login</a>
        </li>
        <li>
          <a routerLink="/register">Register</a>
        </li>
        <li>
          <a>Logout</a>
        </li>
        <li>
          <a>About</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
