* {box-sizing: border-box}

/* Add padding to containers */
.container {
  /* padding: 16px; */
  background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 400px;
    text-align: center;
}
#form {
  padding-top: 20px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
.centering{
    display: flex;
  justify-content: center; /* хоризонтално центриране */
  align-items: center;     /* вертикално центриране */
  height: 60vh;           /* височината на прозореца */
  margin: 0;
  padding-top: 130px;
}
.registerbtn {
  padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: rgb(5, 5, 5);
    cursor: pointer;
    background-color: #959494;
    width: 100%;
    font-size: 16px;
  transition: all .3s;

}
.registerbtn:hover {
    background-color: rgb(109, 109, 109);
  color: #c8d20f;
  cursor: pointer;
}



