a {
  color: inherit;       /* да ползва цвета от бутона/родителя */
  text-decoration: none; /* маха подчертаването */
}
a:hover {
  color: #000000;
  cursor: pointer;
}
a.active{
  color: #000000; 
}