<!-- <div class="container">
  <p>Your transformation starts here!"</p>
  <p>
    Every day is a new chance to become stronger, faster, and healthier. Begin
    your workout journey with us and unlock the best version of yourself.
    Together, we take every step forward!
  </p>
</div> -->

<div class="container">
  <section class="hero">
    <div class="overlay"></div>
    <div class="content">
      <h1>Your transformation starts here!</h1>
      <p>
        Every day is a new chance to become stronger, faster, and healthier.
        Begin your workout journey with us and unlock the best version of
        yourself. Together, we take every step forward!
      </p>
      @if(!isLoggedin){
      <a routerLink="/login" class="cta-btn">Start Now</a>

      }
    </div>
  </section>
</div>
