<!-- <div class="container">
  <article class="all-training-card">
    <article class="all-training-card-content">
      <h2>{{ training.title }}</h2>
      <h3>Type: {{ training.typeTraining }}</h3>
    </article>

    <article class="all-training-card-buttons">
      <a class="btn-details" [routerLink]="training._id">Details</a>
    </article>
  </article>
</div> -->

<div class="card">
  <h2>{{ training.title }}</h2>
  <p class="type">{{ training.typeTraining }}</p>
  <a [routerLink]="['/details', training._id]" class="details-link">Details</a>
</div>
