html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* цялата височина на прозореца */
  background-color: #7979797b; /* тук избираш желания цвят */

}

main {
  flex: 1; /* заема наличното пространство */
}
