<div class="centering">
  <div class="main">
    <h1>Login</h1>

    <form #form="ngForm" (ngSubmit)="login(form)">
      <label for="email"> Email: </label>
      <input
        type="text"
        id="email"
        name="email"
        placeholder="Enter your Email"
        ngModel
        #inputEmail="ngModel"
        required
        minlength="3"
        pattern="^[A-Za-z0-9\-\.]+@[A-Za-z\-]+.[a-z]+$"
      />
      @if(inputEmail.touched){ @if(inputEmail.errors?.['required']){

      <p class="error">Email is required!</p>
      } @if (inputEmail.errors?.['minlength']) {
      <p class="error">Email must be at least 3 characters!</p>

      }@if(inputEmail.errors?.['pattern']){
      <p class="error">Email must be like: example@example.com</p>

      }}

      <label for="password"> Password: </label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Enter your Password"
        ngModel
        #inputPassword="ngModel"
        required
        minlength="6"
      />
      @if(inputPassword.touched){ @if(inputPassword.errors?.['required']){

      <p class="error">Password is required!</p>
      } @if (inputPassword.errors?.['minlength']) {
      <p class="error">Password must be at least 6 characters!</p>

      }}

      <div class="wrap">
        <button type="submit" [disabled]="form.invalid">Submit</button>
      </div>
    </form>

    <p>
      Not registered?
      <a routerLink="/register" style="text-decoration: none">
        Create an account
      </a>
    </p>
  </div>
</div>
