<div class="centering">
  <div class="main">
    <h1>Login</h1>

    <form #form="ngForm" (ngSubmit)="login(form)">
      <label for="email"> Email: </label>
      <input
        type="text"
        id="email"
        name="email"
        placeholder="Enter your Email"
        ngModel
        #inputEmail="ngModel"
        required
      />

      <label for="password"> Password: </label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Enter your Password"
        ngModel
        #inputPassword="ngModel"
        required
      />

      <div class="wrap">
        <button type="submit">Submit</button>
      </div>
    </form>

    <p>
      Not registered?
      <a routerLink="/register" style="text-decoration: none">
        Create an account
      </a>
    </p>
  </div>
</div>
